<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.capstonproject">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CapstonProject"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".cNotice"
            android:exported="false" />
        <activity
            android:name=".y_requested_match"
            android:exported="false" />
        <activity
            android:name=".cmatching_detail"
            android:exported="false" />
        <activity
            android:name=".amyinfo"
            android:exported="false" />
        <activity
            android:name=".amatchinglist"
            android:exported="false" />
        <activity
            android:name=".aadd_matching"
            android:exported="false" />
        <activity
            android:name=".ysignup_page"
            android:exported="false" />
        <activity
            android:name=".ylogin_page"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>